section {
    background: #212529;
    width: 100%;
}

.footer {
    width: 100%;
    position: inherit;
    left: 0;
    bottom: 0;
    margin: auto;
    height: auto;
}

.footer-txt-box {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}