<section>
  <div class="">
    <!--Breadcrum block-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Content</a></li>
        <li class="breadcrumb-item"><a href="#">blocks</a></li>
      </ol>
    </nav>

    <!--cards block-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/gabriel.jpg" alt="gabriel" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/joseph.jpg" alt="joseph" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/gabriel.jpg" alt="gabriel" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>

        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/joseph.jpg" alt="joseph" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/gabriel.jpg" alt="gabriel" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/joseph.jpg" alt="joseph" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/gabriel.jpg" alt="gabriel" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>

        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="assets/joseph.jpg" alt="joseph" width="250px" height="200px">
              <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>